@use '../../styles/_partials/reset';
@use '../../styles/_partials/mixins' as *;

.dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

    &__wrap {
        width: 100%;
        padding: 0.5rem;
        position: relative;
        list-style-type: none;
        box-sizing: border-box;
    }

   &__hamburger {
       display: flex;
       align-items: flex-end;
       padding-right: 0.3rem;
       flex-direction: column;
   }

    &__items {
        width: 100%;
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1.25rem;
        color: $white-color;
        align-items: center;
        text-decoration: none;
    }

    &__items:active {
        transform: translateY(2px);
    }

    &__link {
        display: flex;
        margin: 0 auto;
        align-items: center;
        color: $white-color;
        list-style-type: none;
        text-decoration: none;
        justify-content: space-evenly;
    }
}