$mobile-breakpoint: 767;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$button-color: #A6B1e1;
$background-color: #F4EEFF;
$footer-color: #424B74;
$other-color: #DCD6f7;
$white-color: #ffffff;
$black-color: #000000