@use '../../styles/_partials/reset';
@use '../../styles/_partials/mixins' as *;

.layout{
    width: 100%;
    display: flex;
    margin: 3rem auto;
    max-width: 1440px;
    flex-direction: column;
    box-sizing: border-box;

    &__wrap {
        width: 100%;
        box-sizing: border-box;
    }
}