@use '../../styles/_partials/mixins' as *;
@use '../../styles/_partials/variables';
@use '../../styles/_partials/reset';

.about {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 1rem 3rem;
    background-color: $other-color;

    @include desktop {
        width: 100%;
        display: flex;
        max-height: 1000px;
        align-items: center;
    }

    &__pageheader {
        width: 100%;
        font-weight: 700;
        font-size: 2.5rem;

        @include desktop {
            margin: 3rem 0;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;

        @include desktop {
            width: 100%;
            padding: 1rem;
            display: flex;
            max-width: 1080px;
            flex-direction: row;
        }
    }

    &__pic {
        width: 100%;
        display: flex;
        padding: 1rem;
        max-width: 475px;
        border-radius: 10%;
        margin-bottom: 1rem;
        box-sizing: border-box;

        @include desktop {
            max-width: 375px;
        }
    }

    &__main {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__bio {
        width: 100%;
        padding: 1rem 0;
        font-size: 1rem;
        max-width: 600px;
        box-sizing: border-box;

        @include tablet {
            font-size: 1.2rem;
        }

        @include desktop {
            padding: 0;
            margin: 2rem 0;
            font-size: 2rem;
        }
    }

    &__skills{
        width: 100%;
        display: flex;
        max-width: 600px;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;

        @include desktop {
            margin: 2rem 0;
        }
    }


    &__title{
        font-weight: 600;
        padding: 1rem 0;
        font-size: 1.2rem;
    }
    
    &__gallery{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: center;
    }

    &__icon {
        height: 50px;
        margin: 0 0.5rem;
    }

    &__icon1{
        width: 125px;
        margin: 0 0.5rem;
    }
}