@use '../../styles/_partials/reset';
@use '../../styles/_partials/mixins' as *;

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__wrap {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;
    }

    &__smalldevice-view{
        display: flex;
        position: relative;
        justify-content: flex-end;

        @include desktop{
            display: none;
        }
    }

    &__window {
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        padding: 1rem;
        position: absolute;
        background-color: rgb(165, 164, 236);
    }

    &__ex {
        position: abosute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        right: 50%;
        font-size: 2rem;
        color: #ffffff;
    }

    &__hamburger:active {
        z-index: 1001;
        color: #ffffff;
        position: absolute;
    }

    &__desktop-view {
        display: none;

        @include desktop {
            display: flex;
        }
    }

    &__links {
        width: 100%;
        display: flex;
    }

    &__items {
        cursor: pointer;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    &__items:active {
        transform: translateY(3px);
    }
}

