@use '../../styles/_partials/reset';
@use '../../styles/_partials/variables';
@use '../../styles/_partials/mixins' as *;

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.97);

    &__wrap {
        width: 100%;
        display: flex;
        max-width: 1080px;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 100%;
        min-width: 150px;
        max-width: 200px;
    }

    &__nav-content {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
    }

    &__handhelds{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: flex-end;

        @include desktop{
            display: none;
        }
    }

    &__hamburger {
        color: $white-color;
    }

    &__window {
        top: -6px;
        right: -15px;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        min-width: 250px;
        max-width: 475px;
        position: absolute;
        background-color: rgb(165, 164, 236);

        @include tablet {
            top: -12%;
            right: -3.5%;
        }
    }

    &__desktop-view {
        display: none;

        @include desktop {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__links {
        width: 100%;
        display: flex;
    }

    &__ref {
        color: $white-color;
        text-decoration: none;
        list-style-type: none;
    }

    &__items {
        cursor: pointer;
        font-size: 1.2rem;
        font-style: italic;
        margin-left: 1.2rem;
    }

    &__items:active {
        transform: translateY(3px);
    }
}

