@import '../../styles/_partials/mixins';
@import '../../styles/_partials/variables';

.contact {
    width: 100%;
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #F4EEFF;

    @include desktop {
        display: flex;
        margin: 0 auto;
        max-width: 1440px;
        align-items: center;
    }


    &__wrap {
        width: 100%;
        display: flex;
        padding: 0.25rem;
        box-sizing: border-box;
        flex-direction: column;

        @include desktop {
            height: 100%;
            display: flex;
            box-sizing: border-box;
        }
    }

    &__body {
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    &__text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    &__page-heading {
        width: 100%;
        display: flex;
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: 600;
        font-style: italic;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;

        @include tablet {
            justify-content: center;
        }

        @include desktop {
            display: flex;
            font-size: 2.25rem;
            flex-direction: row;
        }
    }

    &__subhead1 {
        width: 400px;
        display: flex;
        font-weight: 600;
        line-height: 30px;
        font-size: 1rem;
        justify-content: center;

        @include tablet{
            display: flex;
            justify-content: center;
            font-size: 1.25rem;
        }
    }
    &__subhead2 {
        width: 400px;
        font-weight: 600;
        line-height: 30px;
        font-size: 1rem;

        @include tablet{
            font-size: 1.25rem;
        }
    }

    &__form {
        width: 100%;
        padding: 1rem;
        display: flex;
        margin: 0 auto;
        border-radius: 20px;
        flex-direction: column;
        box-sizing: border-box;

        @include desktop{
            width: 700px;
            padding: 1rem;
            border-radius: 0;
        }
    }

    &__compartment {
        display: flex;
        margin: 0.5rem 0;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    &__label {
        width: 100%;
        display: flex;
        margin: 0.25rem 0;
        color: $other-color;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input {
        width: 100%;
        margin: 4px 0;
        padding: 12px 0;
        padding-left: 8px;
        border-radius: 20px;
        border: 0.1px solid $button-color;
    }

    &__input:active {
        border: 0.5px solid $footer-color;
    }

    &__textarea {
        width: 100%;
        resize: none;
        margin: 4px 0;
        height: 120px;
        padding: 12px 0;
        padding-left: 8px;
        border-radius: 20px;
        border: 0.1px solid $button-color;
    }

    &__textarea:active {
        border: 0.2px solid $footer-color;
    }

    &__button {
        padding: 12px 0;
        margin-top: 1rem;
        font-size: 1.2rem;
        border-radius: 20px;
        color: $white-color;
        border: 0.5px transparent;
        background-color: $button-color;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    }

    &__button:active {
        transform: translateY(3px);
    }

    &__socials {
        display: flex;
        margin-left: 0;
        padding-left: 0;
        align-items: center;
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        @include tablet {
            width: 100%;
            display: flex;
            max-width: 800px;
            flex-wrap: wrap;
            flex-direction: row;
            box-sizing: border-box;
        }

        @include desktop {
            display: flex;
            width: 600px;
            margin: 2rem 0;
        }
    }


    &__info{
        margin: 1rem;
        width: 225px;
        cursor: pointer;
        padding: 14px 0;
        font-size: 1.2rem;
        position: relative;
        border-radius: 20px;
        color: $white-color;
        border: 0.5px transparent;
        background-color: $button-color;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    }


    &__info:active {
        transform: translateY(3px);
    }

    &__icons1 {
        top: 8px;
        left: 12px;
        height: 30px;
        position: absolute;
    }

    &__icons2 {
        top: 7px;
        left: 12px;
        height: 35px;
        position: absolute;
    }

    &__icons3 {
        top: 12px;
        left: 18px;
        height: 20px;
        position: absolute;
    }

    &__icons4 {
        top: 12px;
        left: 18px;
        height: 25px;
        position: absolute;
    }
}