@import '../../styles/_partials/mixins';

.contact {
    width: 100%;
    height: 900px;
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    box-sizing: border-box;

    @include desktop {
        margin: 0 auto;
        max-width: 1440px;
    }


    &__wrap {
        width: 100%;
        display: flex;
        padding: 0.25rem;
        box-sizing: border-box;
        flex-direction: column;

        @include desktop {
            height: 100%;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
        }
    }

    &__pageHeader {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    &__body {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 0.5rem;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: flex-start;

        @include desktop{
            border-bottom: none;
        }
    }

    &__text {
        width: 100%;
        display: flex;
        max-width: 800px;
        flex-direction: column;
        box-sizing: border-box;

        @include desktop {
            padding-left: 3rem;
        }
    }

    &__page-heading {
        width: 100%;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        font-style: italic;
        margin: 0 auto 2rem;
        flex-direction: column;
        box-sizing: border-box;

        @include tablet {
            justify-content: center;
        }

        @include desktop {
            display: flex;
            font-size: 2.25rem;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__words {
        display: none;

        @include desktop {
            display: flex;
            width: 500px;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: left;
        }
    }

    &__subhead1 {
        width: 100%;
        display: flex;
        font-weight: 600;
        line-height: 30px;
        font-size: 1rem;
        justify-content: center;

        @include tablet{
            display: flex;
            justify-content: center;
            font-size: 1.25rem;
        }

        @include desktop {
            display: none;
        }
    }
    &__subhead2 {
        width: 100%;
        font-weight: 600;
        line-height: 30px;
        font-size: 1rem;

        @include tablet{
            font-size: 1.25rem;
        }

        @include desktop {
            display: none;
        }
    }

    &__contacts {
        width: 100%;
        display: flex;
        margin: 3rem 0;
        flex-direction: column;
        align-items: flex-start;
    }

    &__form {
        width: 100%;
        padding: 1rem;
        display: flex;
        margin: 0 auto;
        border-radius: 20px;
        flex-direction: column;
        box-sizing: border-box;

        @include desktop{
            padding: 1rem;
            border-radius: 0;
        }
    }

    &__compartment {
        display: flex;
        margin: 0.5rem 0;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    &__label {
        width: 100%;
        display: flex;
        margin: 0.25rem 0;
        flex-direction: column;
        align-items: flex-start;
        color: rgb(179, 182, 182);
    }

    &__input {
        width: 100%;
        margin: 4px 0;
        padding: 12px 0;
        padding-left: 4px;
        border-radius: 20px;
        border: 0.1px solid grey;
    }

    &__input:active {
        border: 0.5px solid rgb(146, 148, 150);
    }

    &__textarea {
        width: 100%;
        resize: none;
        margin: 4px 0;
        height: 120px;
        padding: 12px 0;
        padding-left: 4px;
        border-radius: 20px;
        border: 0.1px solid grey;
    }

    &__textarea:active {
        border: 0.2px solid darkgrey;
    }

    &__button {
        color: #fff;
        padding: 12px 0;
        margin-top: 1rem;
        font-size: 1.2rem;
        border-radius: 20px;
        border: 0.5px solid grey;
        background-color: #A6B1E1;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    }

    &__button:active {
        transform: translateY(3px);
    }

    &__socials {
        display: flex;
        margin-left: 0;
        padding-left: 0;
        align-items: center;
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        @include tablet {
            width: 100%;
            display: flex;
            max-width: 800px;
            flex-wrap: wrap;
            flex-direction: row;
            box-sizing: border-box;
        }

        @include desktop {
            display: flex;
            margin: 2rem;
            justify-content: flex-start;
        }
    }


    &__info{
        margin: 1rem;
        width: 225px;
        color: white;
        cursor: pointer;
        padding: 14px 0;
        font-size: 1.2rem;
        position: relative;
        border-radius: 20px;
        border: 0.5px solid rgb(112, 112, 112);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
        background-color: #A6B1E1;

        @include desktop {
            width: 200px;
        }
    }


    &__info:active {
        transform: translateY(3px);
    }

    &__icons1 {
        top: 8px;
        left: 12px;
        height: 30px;
        position: absolute;
    }

    &__icons2 {
        top: 7px;
        left: 12px;
        height: 35px;
        position: absolute;
    }

    &__icons3 {
        top: 12px;
        left: 18px;
        height: 20px;
        position: absolute;
    }

    &__icons4 {
        top: 12px;
        left: 18px;
        height: 25px;
        position: absolute;
    }
}